.bg-image{
    background-image: url(https://images.pexels.com/photos/2315034/pexels-photo-2315034.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: scroll;
    background-size:  cover;
    background-color: #999;
}
.bg-image1{
    background-image: url(https://images.pexels.com/photos/164686/pexels-photo-164686.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: scroll;
    background-size:  cover;
    background-color: #999;
}