.bg-image {
    background-image: url(https://images.pexels.com/photos/1525589/pexels-photo-1525589.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: #999;
}

.bg-image1 {
    background-image: url(https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: #999;
}

.bg-image2 {
    background-image: url(https://images.pexels.com/photos/1714205/pexels-photo-1714205.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: #999;
}

.list-column{
    width:100%
}

.icon-tiles{
    display:flex;
    justify-content: center;
    align-items: center;
}

.article-tiles{
    margin-top: 30px;
}

.article-tiles2{
    margin-bottom: 30px;
}

.placeholder{
    margin: 5px;
}

.filterwerkzeug{
    display: flex;
    justify-content: space-between;
}

.sorry{
    width:976px;
}

.addPlan{
    display:flex;
    justify-content: center;
}



@media only screen and (max-width: 600px) {
    .bg-image {
        background-image: url(https://images.pexels.com/photos/1194713/pexels-photo-1194713.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        background-color: #999;
    }

    .bg-image1 {
        background-image: url(https://images.pexels.com/photos/4004210/pexels-photo-4004210.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        background-color: #999;
    }

    .profile-container{
        display: flex;
        align-items: center;
        justify-content: center;}

    .fcolor {
        color: whitesmoke;
    }
    .profile{
        width:100%;
    }

    .sub{
        font-size: 11px;
    }

    .labeltext{
        font-size: 12px;
    }

}